.my-pets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.my-pets-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pet-card {
    width:100%;
}

@media only screen and (min-width: 600px) {
	.my-pets-content {
		width: 60%;
	}
}